.container_artigo {
    width: 90%;
    max-width: 1000px;

    position: absolute;
    margin: 0 auto;
    padding: -80px 0;
}

.container_seletor {
    justify-self: center;
    align-content: start;
    padding-bottom: 5px;
}

.div--artigo1 {
    display: flex;
    border-radius: 8px;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(65, 66, 66, 0.8));
    width: 500px;
    height: 400px;
    padding: 20px;
}

.split {
    display: flex;
    border-radius: 8px;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(65, 66, 66, 0.8));
    box-shadow: -1px 1px 0 #403f3f;
    width: 500px;
    height: 500px;
    padding: 30px;
    gap: 0 20px;
}


.imagem {
    width: 400px;
    height: 200px;
}

.imagem1 {
    width: 300px;
    height: 200px;
}

h4 {
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cor {
    color: #fff;
    font-size: 1em;
    text-align: justify;
}

#A a {
    color: red;
}