/* ======= footer ======== */

.container-footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 20vh;
    background: -webkit-linear-gradient(bottom, rgba(26, 8, 61, 0.8), rgba(24, 19, 24, 0.8));
    border-radius: 8px 8px 0 0;

}

.div-footer p {
    font-family: "Geist Mono", monospace;
    font-weight: bold;
    color: #bbb;
    font-size: 18px;
}

.div-footer img {
    border-radius: 20px;
}