body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    background: linear-gradient(270deg, rgb(27, 11, 61) 10%, #000 100%);
}

header,
nav {
    display: block;
}

a {
    /* color: #9cf; */
    /* color: #cf9; */
    font-size: inherit;
    font-display: swap;
}

a,
a:visited {
    color: rgb(72, 127, 255);
    text-decoration: none;
    outline: 0;
    word-wrap: break-word;
}

a:hover,
a:focus {
    color: #96f;
}

a:visited {
    line-height: inherit;
}

ul {
    padding-bottom: 20px;
    padding-left: 30px;
    padding: 4px 0 5px 30px;
    font-size: 120%;
    list-style: outside;
}

ul,
li {
    margin-bottom: 6px;
}

li {
    line-height: 18px;
    margin-bottom: 12px;
}