@media (min-width: 768px) and (max-width: 800px) {

    body {
        width: 90%;
        max-width: 650px;
        margin: auto 10px;
        padding: 20px;
    }


    .nav {
        position: relative;
        left: 30px;
        font-size: .8em;
    }

    .sooner {
        font-size: .7em;
    }

    .container-box {
        position: relative;
        left: 30px;
    }

    .split {
        width: 150px;
        height: 60px;
        max-height: 150px;
        margin: 1px;
        padding: -5px 0;
    }

    h1 {
        text-align: center;
        font-size: 18px;

    }

    .split p {
        font-size: 7px;
        padding: 5px 0;
    }

    .parte-social {
        display: flex;
        justify-content: center;
        padding: 0 -40px;
    }

    .subNav {

        width: 600px;
    }

    .container-main {
        max-width: 700px;
    }

    .container-footer {
        max-width: 700px;
    }

    .div-footer p {
        font-size: 10px;
    }

    .div-footer img {
        display: none;
    }

    h2. {
        font-size: 1.3em;
    }

    strong {
        font-size: 1em;
    }
}

/* ========================================= */

@media (min-width: 500px) and (max-width: 768px) {

    body {
        background-image: none;
        width: 100%;
        max-width: 500px;
        margin: auto 20px;
        padding: 20px;
    }

    .nav {
        font-size: .7em;
    }

    .sooner {
        font-size: .5em;
    }

    .container-article {
        display: none;
    }

    .parte-social {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 450px;
    }

    .subNav {
        width: 500px;
    }

    .container-main {
        max-width: 670px;
    }

    .container-footer {
        max-width: 500px;
    }

    .div-footer p {
        font-size: 8px;
    }

    .div-footer img {
        display: none;
    }
}

/* ======================================= */

@media (min-width: 320px) and (max-width: 499px) {

    body {
        max-width: 320px;
        background: rgb(25, 1, 49) url('../imagens/rua.jpg');
        background-repeat: no-repeat;
        /* background-size: 100% 550px; */
        background-position: center;
        background-position: top;

        width: 100%;
        max-width: 320px;
        margin: auto 10px;
        padding: 20px;

    }


    .friday {
        margin: 20px 0;
        padding: 0 50px;

    }

    .nav {
        font-size: .7em;
    }

    .sooner {
        font-size: .5em;
    }

    .container-article {
        display: none;
    }

    #sumir {
        display: none;
    }

    #text {
        font-size: .6em;
        padding: 10px 0;
    }

    .parte-social {
        display: flex;
    }

    h3 {
        font-size: 14px;
    }

    .subNav {
        width: 130px;
        height: 100px;
    }

    .string img {
        width: 25px;
        height: 25px;
    }

    .string a {
        font-size: 10px;
    }

    .subNav {
        width: 100%;
        max-width: 320px;
        margin: auto 10px;
        padding: 20px;
    }

    .container-main {
        max-width: 320px;
    }

    h2 {
        font-size: 17px;
    }

    strong {
        font-size: .8em;
        text-align: justify;
    }

    a {
        font-size: .8em;
    }


    .container-footer {
        padding: 40px;
        width: 320px;
    }

    #let {
        display: none;
    }

    .div-footer p {
        font-size: 8px;
        text-align: justify;
    }

    .div-footer img {
        display: none;
    }


    .nav li.to:hover {
        height: 250px;
    }

    #Segundo li.to:hover {
        height: 175px;
    }

    #terceiro li.to:hover {
        height: 100px;
    }

    #quarto li.to:hover {
        height: 175px;
    }

    .nav li a {
        line-height: 2em;
    }
}