html,
body,
article,
header,
nav,
div,
strong {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article,
header,
nav {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

body {
    background: #020d02;
    display: flex;
    justify-content: center;
    font: .9em/1.4em "" Helvetica Neue", Helvetica, Arial, sans-serif";
    color: #bbb;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

article {
    height: 90vh;
    width: 80vw;
    background-image: url('../imagens/Futuristic\ character\ wearing\ a\ dark\ cyberpunk\ hacker.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    opacity: 0.9;

}



a {
    color: #9cf;
    font-size: inherit;
    font-display: swap;
}

a,
a:visited {
    color: #58f;
    text-decoration: none;
    outline: 0;
    word-wrap: break-word;
}

a:hover,
a:focus {
    color: #96f;
}

a:visited {
    line-height: inherit;
}

ul {
    margin-bottom: 20px;
    margin-left: 30px;
    margin: 4px 0px 5px 30px;
    font-size: 120%;
    list-style: outside;
}

ul,
li {
    margin-bottom: 6px;
}

li {
    line-height: 18px;
    margin-bottom: 12px;
}