body {
    background: #000000 url('../imagens/98de351c-ec15-4727-a4e4-cdaa23a62acc.jpg');
    background-size: 900px 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
}

header,
nav {
    display: block;
}

a {
    /* color: #9cf; */
    /* color: #cf9; */
    font-size: inherit;
    font-display: swap;
}

a,
a:visited {
    color: rgb(72, 127, 255);
    text-decoration: none;
    outline: 0;
    word-wrap: break-word;
}

a:hover,
a:focus {
    color: #96f;
}

a:visited {
    line-height: inherit;
}

ul {
    margin-bottom: 20px;
    margin-left: 30px;
    margin: 4px 0 5px 30px;
    font-size: 120%;
    list-style: outside;
}

ul,
li {
    margin-bottom: 6px;
}

li {
    line-height: 18px;
    margin-bottom: 12px;
}