.container_principal {
    display: flex;
    align-items: center;
    position: relative;
    position: fixed;
    top: 80px;
    left: -70px;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(65, 66, 66, 0.8));
    box-shadow: 0 1px 1px 1px #333;
    width: 90px;
    height: 300px;
    border-radius: 0 8px 8px 0;
    -webkit-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

.container_principal:hover {
    left: 1px;
}

.redes-social {
    padding: 25px;

}

.socIcon {
    margin-bottom: 10px;
}